# This is a block of text 

## Using MARKDOWN for formatting

# Basic PYTHON examples

In [ ]:
# Creating a simple variable 

variable_1 = 5 
variable_1

In [ ]:
# Reading a ERROR message 
variable_2 = 10 
variable2

In [ ]:
# Creating a EXCEL-LIKE table with fake information
import pandas as pd 
d = {'age': [25, 23, 43], 'name': ['John', 'Frank', 'Joe']}
df = pd.DataFrame(data=d)
df

In [ ]:
df['age'].mean()

# Python SQL Connection
## Install dependencies

In [ ]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

# Load Data from mySQL

In [ ]:
from sqlalchemy import create_engine

MYSQL_HOSTNAME = 'XXXXX' # INSERT IN NEW IP ADDRESS 
MYSQL_USER = 'XXXXX'           # INSERT IN NEW USER 
MYSQL_PASSWORD = 'XXXXX'      # INSERT IN PASSWORD
MYSQL_DATABASE = 'openmrs'

connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'

mysql_db_hospital = create_engine(connection_string)

# Test that the DB engine succesfully ran:

In [ ]:
mysql_db_hospital

# Get the names of all the TABLES that exist in the database

In [ ]:
mysql_db_hospital.table_names()

# Run a Simple Query

In [ ]:
# Running a SQL command from PYTHON -> hitting our openMRS server 

mysqlquery1 = """SELECT * FROM patient limit 5;""".format(MYSQL_DATABASE)

events_df = pd.read_sql(mysqlquery1, con=mysql_db_hospital)

In [ ]:
events_df

In [ ]:
# Get the number of patients in the 'patient' table 

mysqlquery2 = """SELECT count(*) FROM patient;""".format(MYSQL_DATABASE)
events_df_2 = pd.read_sql(mysqlquery2, con=mysql_db_hospital)
events_df_2

In [ ]:
# Get the number of persons from the 'person' table

mysqlquery3 = """SELECT count(*) FROM person;""".format(MYSQL_DATABASE)
events_df_3 = pd.read_sql(mysqlquery3, con=mysql_db_hospital)
events_df_3

In [ ]:
# Get some of the details from the 'person' table // first generate a preview 

mysqlquery4 = """SELECT * FROM person;""".format(MYSQL_DATABASE)
events_df_4 = pd.read_sql(mysqlquery4, con=mysql_db_hospital)
events_df_4

In [ ]:
events_df_4['gender'].value_counts()

In [ ]:
events_df_4['age_converted'] = pd.to_datetime(events_df_4['birthdate'], errors='coerce')
events_df_4

In [ ]:
now = pd.to_datetime('now')
now

In [ ]:
events_df_4['age_converted'] = (now.year - events_df_4['age_converted'].dt.year) - ((now.month - events_df_4['age_converted'].dt.month) < 0)
events_df_4

In [ ]:
events_df_4['age_converted'].mean()

# API Retrieval

In [ ]:
import requests

response = requests.get('http://openmrs.appliedhealthinformatics.com:8080/openmrs/ws/rest/v1/systeminformation', auth=('INSERTHERE', 'INSERTHERE'))
response.json()

In [ ]:
response = requests.get('http://openmrs.appliedhealthinformatics.com:8080/openmrs/ws/rest/v1/user?q=admin&v=default&limit=1', auth=('INSERTHERE', 'INSERTHERE'))
response.json()

In [ ]:
response = requests.get('http://openmrs.appliedhealthinformatics.com:8080/openmrs/ws/rest/v1//patient?q=Sarah&v=default&limit=1', auth=('INSERTHERE', 'INSERTHERE'))
response.json()